body{
background: rgb(145, 145, 145);
/*width: 900px;*/
margin: auto;
}
#wrapper {
  width: 1100px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background: white;
}
header {
  line-height: 2em;
  padding: 5%;
  background: #2B5439;
}
footer {
  height: 50px;
  border-top: 2px black dashed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 45px;
  font-family: "Arial", sans-serif;
}
h2 {
  font-size: 1.5em;
  font-family: "Arial", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  width: 90%;
}
#questionNumber {
 color: yellow;
}
.questions {
  font-family: 'Pangolin', cursive;
  font-size: 3em;
  background-image: url("https://puzzlecommand.com/builds/en/images/daily/themes/chalkboard/background.jpg");
  background-size: cover;
  height: 6em;
  width: 70%;
  margin: 15px auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 15px #644619 solid;

}
.answer {
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin: 3em;
}
#a {
  background: red;
  width: 100%;
}
#b {
  background: blue;
  color: white;
  width: 100%;
}
#c {
  background: green;
  width: 100%;
}
#d {
  background: yellow;
  width: 100%;
}
#e {
  background: purple;
  width: 100%;
}
button {
  padding: 1em;
  font-size: 18px;
  margin: 15px;
  border: none;
  width: 200px;
}
ul {

}
li {
  list-style: none;
  display: inline-block;
}
